<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf=8">
        <title>API design checker</title>
    </head>

    <body>
        <h1>{{pageTitle}}</h1>
        <p>{{uploadedFile}}</p>
        <p><strong>1. Property names in camelCase and using only ASCII characters</strong></p>
        <p>{{checkString1}}</p>
        <p><strong>2. Use basePath</strong></p>
        <p>{{checkString2}}</p>
        <p><strong>3. Query parameters in camelCase</strong></p>
        <p>{{checkString3}}</p>
        <p><strong>4. Ingore trailing slashes</strong></p>
        <p>{{checkString4}}</p>
        <p><strong>5. Return JSON object as top level data structure</strong></p>
        <p>{{checkString5}}</p>
        <p><strong>6. Use hyphenated HTTP headers</strong></p>
        <p>{{checkString6}}</p>
        <p><strong>7. Use media type versioning</strong></p>
        <p>{{checkString7}}</p>
        <p><strong>8. Client authentication and authorization with API key via HTTP headers</strong></p>
        <p>{{checkString8}}</p>
    

        <footer>
            <p>Copyright {{currentYear}}</p>
        </footer>
    </body>
</html>